﻿@charset "utf-8";

html, body {
  padding:0;
  margin:0;
  height:100%
}


body
{ 
  /*border: solid red 3px;*/
  font-family: Verdana, Impact, "Arial Black", Arial, sans-serif;
  background-color: #eee;
}

.bloc_page {
   /*border: green solid 5px;*/
   min-height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
}

#bloc_page_profile {
  min-height: 100%;
}

#profile {
  /*width: 800px;
  margin: 0 auto;*/
}

.content {
  min-height: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  max-width: 850px;
  background-color: #fff; 
}

.bloc_connection {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  width: 420px;
  /*box-shadow: 6px 6px 0 blue;*/
  border: 3px #E0E0E0 ridge;
  border-radius: 8px;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 50px;
  margin-bottom: 100px;  
}

.bloc_connection a {
  text-decoration: none;
}

.erreur_connection {
  color: red;
  font-style: italic;
}

.header
{
  background: #000;
  height:120px;
  font-size: 12px;
  padding: 12px;
  background-color: #000;
  color: white;
  height: 80px;
  
  /*overflow:hidden;*/
}

@-moz-document url-prefix() {
.menu_header {
  margin-top: -2px;
}
}

 
.header .member{
  /*border: blue 1px solid;*/
  /*height:inherit;*/
  max-width: inherit;
  float: left;
}

.header .member div{
  float: right;
  max-width: inherit;
  vertical-align: top;	
}

.header .member div img{
  max-width: inherit;
}
.header .member a {
  text-decoration: none;
}

.header .member a:hover{
  text-decoration: underline;
}

/*
.header .member, .menu_header{
  vertical-align: top;	
}*/

.header .menu_header
{
  /*border: red solid 1px;*/
  float: right;
  padding-top: 51px;
}

.header .menu_header ul {
  text-align: center;
}

.header .menu_header ul li 
{
  list-style-type:none;
  float: left;
  margin-left: 8px;
}


.header .menu_header ul li a
{
  transition: background 0.5s;
  text-decoration: none;
  background-color: #eee;
  padding: 9px;
  color: #000;
  font-size: 1.2em;;
}


.header .menu_header ul li a:hover
{
  transition: background ease-in-out 0.8s, border-top linear 0.5s;
  animation: background linear;
  background-color: #000;
  color: #fff;
  border-top: 2px outset #090;
  text-decoration: none;  
}


.user_info {
  width: 800px;
  margin: auto;
  margin-top: 55px;
  background-color: #fff;
  padding: 15px;
  /*border: 1px black solid;*/
  /*border-radius: 5px*/
}

.user_info p{
  text-align: center;
}

#change_password {
  width: 800px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 40px;
  background-color: #fff;
  padding: 15px;
}

.div_info {
  margin-bottom: 20px;
}

#edit_h1 {
  text-align: center;
}

.spans {
  -webkit-margin-start: 1px;
  -webkit-margin-left:
}

.edit_inputs {
  padding: 10px 20px 10px 20px;
  width: 200px;
}

.edit_submit_button {
  cursor: pointer;
  color: #fff;
  padding: 10px 20px 10px 20px;
  border: 1px black outset;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #FF5C33;
  text-transform:uppercase;
}


.edit_submit_button :hover{
  color: #000;
  background-color: #fff;
}


.error_alone_empty{
  color: blue;
  font-family: "Arial Black", Arial;

}


.user_view_profile{
  width: 400px;
  margin: 0 auto;
}

.user_view_profile h3 {
  background-color: #2B2B2B;
  color: #fff;
  margin-bottom:0px;
}

.user_view_profile p {
  background-color: #E0E0E0;
  margin-top:0px;
  padding: 12px;
}

.user_view_profile a {
  text-decoration: none;
}

.user_view_profile a:hover {
  text-decoration: underline;
}

.footer
{
  position: relative;
  background: #000;
  height:90px;
  bottom:0;
  left:0;
  right:0;
  color: white;
  text-align: center;
}
/*
.header
{
  position: relative;
  background: #000;
  height:100px;
  top:0;
  left:0;
  right:0;
  font-size: 12px;
  padding: 12px;
  background-color: #000;
  color: white;
  height: 80px;
  
  /*overflow:hidden;
}

*/